footer{
  background-color: #333333;
  color: white;
}
footer a{
  color: white;
}

div>.footer__link {
  color:#999999;
}

.footer__logo {
  background: url('/images/logo_light.svg') no-repeat center center;
  background-size: cover;
}