.container--modal-info{
  display: flex;
  font-size: 3.2rem;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: "PT Serif";
  &:before,
  &:after {
    content: none;
  }
}
.modal-info__field {
  border: none;
  font-size: 3.2rem;
  padding: 0;
  border-bottom: solid 0.1rem $light-blue;
  max-width: 50rem;
  &::placeholder{
    color:$light-blue
  }
}

