.postprint__top{
  padding: 50px 0;
  .postprint__bg{
    height:100%;
  }
}
.section-block__title__postprint{
  align-items: flex-start;
}
.section-block__header__postprint{
  align-items: center;
}
.section-block__container__postprint{
  align-items: stretch;
}
.section-block__postprint{
  min-width: 340px;
}