.terms-container{
  padding:30px;
}

.terms-container h3{
  padding-left:25px;
}
.terms-container p{
  padding-left:25px;
  text-align: justify;
}

.terms-container ol li{
  padding-left: 10px;
  text-align: justify;
}
.terms-container .subtitle{
  padding-top: 30px;
  padding-bottom: 30px;
}