.tooltip_custom{
  opacity:1!important;
  max-width: 50rem;
  @media (max-width: 767px){
    max-width: 32rem;
  }
  box-shadow: 0 10px 50px 0 rgba(128,102,108,.1);
}
.tooltip__container{
  padding: $s-size;
  font-size:1.6rem;
}
.tooltip__description{
  margin-bottom: $s-size;
}

.tooltip__parameters >*{
  margin-bottom: $s-size;
}