html{
    font-size: 62.5%;
}
body{
    color: $dark-grey;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}
button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}
.bod{
    @media (max-width: 767px){
        position: relative;
        overflow: hidden;
    }
}

.is-active{
    font-weight: bold;
}

.grecaptcha-badge {
    right: -258px!important;
}